[submodule "fresh-clone"]
	path = temp/clones/fresh-clone
	url = .
	ignore = dirty

[submodule "repo-clone"]
	path = repo-clone
	url = .
	ignore = dirty

[submodule "repo-clone/repo-clone"]
	path = temp/clones/repo-clone/repo-clone
	url = .
	ignore = dirty